.skills {
    grid-column: 1 / 9;
    grid-row: 4 / 6;

    margin-right: 10px;
}

.skill {
    height: 40px;
    padding: 0 20px;
    margin: auto 0;
    text-align: center;
    font-weight: normal;
}

.skills-title{
    padding: 0 20px;
}

.skill-list {
    display: flex;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
}

@media(max-width: 1040px) {
    .skills {
        grid-column: 1 / 2;
        grid-row: 3 / 4;

        margin-right: 0;
        margin-bottom: 10px;
    }
}